body{
	width: 960px;
	margin: 0 auto;
	position: relative;
	font-family: "微軟正黑體";
}
button{
	font-family: "微軟正黑體";
}
h3{
	font-weight: normal;
}
.tw{
	width: 960px;
	height: 500px;
}
.bar_container{
    height:30px;
    width:400px;
    position:relative;
}
.play_bar{
	z-index:1;
	margin: 0px auto;
	position:relative;
	top:15px;
	height:5px;
	width:850px;
	display:block;
	background:#AAA;
}
.bar_container img{
    position:relative;
    z-index:3;
}
.tooltip{
    display:none;
    position:absolute;  
    width:300px;
    height:50px;
    border-radius:10px;
    box-shadow:4px 4px 10px rgba(0,0,0,0.4);
    background:#DDD;
    padding: 10px;
}
#label_container{
	margin-left:-10px ;
}
#label_container span{
	font-size: 14px;
	padding: 1px;
}
#button_block{
	padding-top: 150px;
	position: absolute;
	width: 400px;
}
button{
	font-size: 20px;
	cursor: pointer;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
}
.selected{
	color: orange; 
}
.turn_left{
	margin-left: 370px;
}
.arrow{
	border: 5px;
}
#map{
	margin-left:200px;	
}
#map_2{
	position: absolute;
	left:-200px;
}
#circle_block{
	position: absolute;
	left: 450px;
	width: 400px;
	height: 750px;
}
.line{
	width: 960px;
	height: 180px;
}
.one_block{
	float: left;
	width: 317px;
}